.App{
  min-width: 1000px;
}
.Container{
  position: relative;
  margin-top:-20px;
  width: auto;
  max-width: 100%;
  min-width: 600px;
  height: 800px;
  background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4) ), url("./Images/IMG_5110.jpg");
  background-color:#F0F0F0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Mexico{
  background-color: grey
}

