.info{
    padding-top:125px;
    padding-bottom: 220px;
    min-width: 1000px;
    background-color:white;
    color:black;
}

.info p{
    color:#aa003b;
    letter-spacing: 4px;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.info h2{
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-right:200px;
    margin-left:200px;
    padding-bottom: 20px;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #aa003b;
}
.info h4{
    color:#777;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    margin-right:220px;
    margin-left:220px;
    line-height: 1.48;
}
