.info{
    padding-top:125px;
    padding-left: 70px;
    padding-right:70px;
    padding-bottom: 175px;
    min-width: 1000px;
    background-color:#aa003b;
}

.info p{
    font-size: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    margin-right:400px;
    margin-left:400px;
}

.info h2{
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    margin-right:200px;
    margin-left:200px;
}
.info h4{
    font-size: 26px;
    text-align: justify;
    font-family: 'arial narrow', arial;
    letter-spacing: 3px;
    margin-right:220px;
    margin-left:220px;
}